{% extends 'base.html' %}
{% load static %}
{% block title %}Gia Hạn Premium - CareerPath{% endblock %}

{% block content %}
<section class="premium-section text-center py-5">
    <div class="container">
        <h2 class="fw-bold mb-3">Gia Hạn Premium</h2>
        <p class="lead mb-4">Bạn đã hết thời gian dùng thử miễn phí. Vui lòng gia hạn để tiếp tục sử dụng các tính năng Premium.</p>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Tên</label>
                <input type="text" name="name" value="{{ user.first_name }} {{ user.last_name }}" required class="form-control w-50 mx-auto">
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" name="email" value="{{ user.email }}" required class="form-control w-50 mx-auto">
            </div>
            <div class="mb-3">
                <label class="form-label">Chọn gói:</label>
                <select name="months" class="form-select w-50 mx-auto">
                    <option value="1">1 tháng - 49,000₫</option>
                    <option value="3">3 tháng - 139,000₫</option>
                    <option value="6">6 tháng - 219,000₫</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success btn-lg">Tiếp tục thanh toán</button>

        </form>
    </div>
</section>
{% endblock %}
